body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);


}

h1, h2 {
    text-align: center;
}

#main-menu {
    display: flex; /* Paiguta nupud kõrvuti */
    justify-content: center; /* Joonda nuppe keskele */
    align-items: center; /* Vertikaalne joondus */
    gap: 20px; /* Lisa ruumi nuppude vahele */
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input.error {
    border-color: #dc3545; /* Punane piir veateate jaoks */
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s; /* Sujuv üleminek */
    width: 100%;
    margin: 10px 0;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
}

.delete {
    color: #dc3545;
    cursor: pointer;
}

.header {
    display: flex; /* Flexbox paigutus */
    justify-content: space-between; /* Ruumi jagamine */
    align-items: center; /* Vertikaalne joondus */
    margin-bottom: 20px; /* Ruumi allpool */
}

#search-bar {
    flex: 1; /* Otsi riba laiendatakse, et täita ruumi */
    padding: 10px; /* Sisemine täidis */
    margin-right: 10px; /* Vahe rippmenüü ja otsinguriba vahel */
    border: 1px solid #ddd; /* Piir */
    border-radius: 3px; /* Nurgad */
}

#menu {
    padding: 10px; /* Sisemine täidis */
    border-radius: 3px; /* Nurgad */
    border: 1px solid #ddd; /* Piir */
}
