body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
}

h1, h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input.error {
    border-color: #dc3545;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: block;
    margin: 5px 0;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
}

.delete {
    color: #dc3545;
    cursor: pointer;
}

/* Ristkülikud   */
.rectangle {
    background-color: #007bff;
    color: white;
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    aspect-ratio: 4 / 1;
    padding: 10px;
    box-sizing: border-box;


}

.rectangle:hover {
    background-color: #0056b3;
}

/* Otsinguriba ja tulemused */
#search-container {
    margin-bottom: 20px;
    position: relative;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

#search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
}

#search-results li:hover {
    background-color: #f4f4f4;
}


.back-btn {
    margin-bottom: 20px;
    background-color: #6c757d;
    width: 100%;
    display: block;
}

.back-btn:hover {
    background-color: #5a6268;
}

/* Ajajoon */
#timeline {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.timeline-item {
    position: relative;
    margin-right: 40px;
    text-align: center;
}

.timeline-item:last-child {
    margin-right: 0;
}

.timeline-item .circle {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.timeline-item .line {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 40px;
    height: 2px;
    background-color: #007bff;
    z-index: 1;
}

.timeline-item:last-child .line {
    display: none;
}

.timeline-item p {
    margin-top: 10px;
    font-size: 14px;
}
